<div class="main-panel">
    <div class="content-wrapper">
       
       <div>
       
       <div class="col-md-6 grid-margin stretch-card">
         <div class="card">
           <div class="card-body">
             <h4 class="card-title">Update User</h4>
             <p class="card-description"> alluser info </p>
             <form class="forms-sample"[formGroup]="userForm" (ngSubmit)="updateUser()" >
               <div class="form-group row">
                 <label for="exampleInputUsername2" class="col-sm-3 col-form-label">First Name</label>
                 <div class="col-sm-9">
                   <input type="text" class="form-control" id="exampleInputUsername2" value="{{this.firstName}}"placeholder="FirstName" formControlName="firstName">
                 </div>
                  </div>
                  <span class="err"
        *ngIf="userForm.get('firstName')?.touched && userForm.get('firstName')?.hasError('required')">please enter first name</span>
        <span class="err"
                *ngIf="userForm.get('firstName')?.touched  && userForm.get('firstName')?.hasError('minlength')">FirstName
                Should be in 3 length </span>



               <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">LastName</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="exampleInputUsername2" placeholder="LastName" value="{{this.lastName}}"formControlName="lastName" >
                </div>
                 </div>
                 <span class="err"
        *ngIf="userForm.get('lastName')?.touched && userForm.get('lastName')?.hasError('required')">please enter last name</span>
        <span class="err"
                *ngIf="userForm.get('lastName')?.touched  && userForm.get('lastName')?.hasError('minlength')">FirstName
                Should be in 3 length </span>


                
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">ContactNo</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="exampleInputUsername2" placeholder="ContactNo"value="{{this.contactNo}}"formControlName="contactNo" >
                </div>
            </div>
            <span class="err"
        *ngIf="userForm.get('contactNo')?.touched && userForm.get('contactNo')?.hasError('required')">please enter Contact number</span>
        
        <span class="err"
        *ngIf="userForm.get('contactNo')?.touched  && userForm.get('contactNo')?.hasError('minlength')">ContactNo
        Should be in 10 length </span>



            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Address</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Address"value="{{this.address}}" formControlName="address">
                </div>
            </div>
            <span class="err"
        *ngIf="userForm.get('address')?.touched && userForm.get('address')?.hasError('required')">please enter address</span>
        

                
              <!-- <div class="form-group row">
                 <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
                 <div class="col-sm-9">
                   <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
                 </div>
               </div>
               <div class="form-group row">
                 <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
                 <div class="col-sm-9">
                   <input type="text" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
                 </div>
               </div>
               <div class="form-group row">
                 <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
                 <div class="col-sm-9">
                   <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                 </div>
               </div>
               <div class="form-group row">
                 <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re Password</label>
                 <div class="col-sm-9">
                   <input type="password" class="form-control" id="exampleInputConfirmPassword2" placeholder="Password">
                 </div>
               </div>
               <div class="form-check form-check-flat form-check-primary">
                 <label class="form-check-label">
                   <input type="checkbox" class="form-check-input"> Remember me </label>
               </div> -->
              
               <button type="submit" class="btn btn-primary me-2">Submit</button>
               <button class="btn btn-dark">Cancel</button>
             </form>
           </div>
         </div>
       </div>
       </div>
    </div>
</div>
       
